
.info{
  padding: 5px;
  border: 2px solid yellow;
  border-radius: 50%;
  width: 100px;
    height: 100px;
    margin: 10px;
  
    
    
}

.text{
  margin-top: 3%;
  height: 200px;
  width: 500px;
  border: 1px solid gray;
  margin-left: 5%;
  padding: 3%;
  text-align: start;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
}


.correct{
  font-weight: bold;
  color: green;
  
}

.incorrect{
  font-weight: bold;
  color: red;
  text-decoration: line-through;
}

.active{
  font-weight: bold;
}

.btn{
  padding: 9px 25px 9px 25px;
  font-weight: bold;
  color: wheat;
  background: #0c54c7;
  border: 1px solid #0c54c7;
  border-radius: 5px;
  
}

.btn:hover{
  background: #2b6ed9;
  border: 1px solid #2b6ed9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
